body {
    padding: 5%;
}

table {
    width: 400px;
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
    caption {
        caption-side: bottom;
        font-size: smaller;
        padding: 0.2rem;
    }
    th, td {
        padding: 0.5rem 1rem;
        border: 1px solid gray;
        white-space: pre;
    }
    thead {
        color: white;
        background-color: black;
        tr:nth-last-child(1) {
            background-color: rgb(40, 38, 38);
        }
    }
    th {
        padding: 0.5rem;
        font-size: larger;
    }
    
}
.blank {
    background-color: black;
    border-top: solid black;
}